<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale=1.0>
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}"/>
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      {% include 'navigation.njk' %}
    </header>
    <main>
      <h1>{{ title }}</h1>
      {{ content | safe }}
    </main>
    {% include 'footer.njk' %}
  </body>
</html>