<nav>
  {% set navPages = collections.all | eleventyNavigation %}
  <ul class="navigation-menu">
  {%- for entry in navPages %}
    <li class="navigation-menu-item">
      <a{% if entry.url == page.url %} class="link link--active"{% endif %} class="link" href="{{ entry.url | url }}">{{ entry.title }}</a>
    </li>
  {%- endfor %}
  </ul>
</nav>