<nav>
  {% set navPages = collections.all | eleventyNavigation %}
  <ul class="navigation-menu">
  {%- for entry in navPages %}
    <li{% if entry.url == page.url %} class="navigation-menu-item --active"{% endif %} class="navigation-menu-item">
      <a href="{{ entry.url | url }}">{{ entry.title }}</a>
    </li>
  {%- endfor %}
  </ul>
</nav>