/* 
    Fluid Type Scale

    Learn more about what's going on here:
    @link https://moderncss.dev/generating-font-size-css-rules-and-creating-a-fluid-type-scale/

    Select a ratio to preview
    Default is "perfectFourth"
*/

body {
  font-family: "Atkinson-Regular", sans-serif;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Atkinson-Bold", sans-serif;
}

h1,
.h1 {
  font-size: 4rem;
}
h2,
.h2 {
  font-size: 3rem;
}
h3,
.h3 {
  font-size: 2rem;
}
h4,
.h4 {
  font-size: 1rem;
}
h5,
.h5 {
  font-size: 0.75rem;
}
h6,
.h6 {
  font-size: 0.5rem;
}

.fluid {
  font-size: clamp(1rem, 2vw + 1rem, 2.25rem);
}
