@use "../config";
/* 
    Fluid Type Scale

    Learn more about what's going on here:
    @link https://moderncss.dev/generating-font-size-css-rules-and-creating-a-fluid-type-scale/

    Select a ratio to preview
    Default is "perfectFourth"
*/

body {
  font-family: "Atkinson-Regular", sans-serif;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Atkinson-Bold", sans-serif;
}

h1,
.h1 {
  font-size: map-get(config.$font-sizes, font-size-xxl);
}
h2,
.h2 {
  font-size: map-get(config.$font-sizes, font-size-xl);
}
h3,
.h3 {
  font-size: map-get(config.$font-sizes, font-size-lg);
}
h4,
.h4 {
  font-size: map-get(config.$font-sizes, font-size-md);
}
h5,
.h5 {
  font-size: map-get(config.$font-sizes, font-size-base);
}
h6,
.h6 {
  font-size: map-get(config.$font-sizes, font-size-sm);
}
