/*
  https://www.joshwcomeau.com/css/custom-css-reset/
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "Atkinson-Regular";
  src: url("../fonts/Atkinson/Atkinson-Hyperlegible-Regular-102.eot?") format("eot"), url("../fonts/Atkinson/Atkinson-Hyperlegible-Regular-102.woff2") format("woff2"), url("../fonts/Atkinson/Atkinson-Hyperlegible-Regular-102.woff") format("woff"), url("../fonts/Atkinson/Atkinson-Hyperlegible-Regular-102.ttf") format("truetype"), url("../fonts/Atkinson/Atkinson-Hyperlegible-Regular-102.svg#Atkinson-Regular") format("svg");
}
@font-face {
  font-family: "Atkinson-Bold";
  src: url("../fonts/Atkinson/Atkinson-Hyperlegible-Bold-102.eot?") format("eot"), url("../fonts/Atkinson/Atkinson-Hyperlegible-Bold-102.woff2") format("woff2"), url("../fonts/Atkinson/Atkinson-Hyperlegible-Bold-102.woff") format("woff"), url("../fonts/Atkinson/Atkinson-Hyperlegible-Bold-102.ttf") format("truetype"), url("../fonts/Atkinson/Atkinson-Hyperlegible-Bold-102.svg#Atkinson-Bold") format("svg");
}
@font-face {
  font-family: "Atkinson-BoldItalic";
  src: url("../fonts/Atkinson/Atkinson-Hyperlegible-BoldItalic-102.eot?") format("eot"), url("../fonts/Atkinson/Atkinson-Hyperlegible-BoldItalic-102.woff2") format("woff2"), url("../fonts/Atkinson/Atkinson-Hyperlegible-BoldItalic-102.woff") format("woff"), url("../fonts/Atkinson/Atkinson-Hyperlegible-BoldItalic-102.ttf") format("truetype"), url("../fonts/Atkinson/Atkinson-Hyperlegible-BoldItalic-102.svg#Atkinson-BoldItalic") format("svg");
}
@font-face {
  font-family: "Atkinson-Italic";
  src: url("../fonts/Atkinson/Atkinson-Hyperlegible-Italic-102.eot?") format("eot"), url("../fonts/Atkinson/Atkinson-Hyperlegible-Italic-102.woff2") format("woff2"), url("../fonts/Atkinson/Atkinson-Hyperlegible-Italic-102.woff") format("woff"), url("../fonts/Atkinson/Atkinson-Hyperlegible-Italic-102.ttf") format("truetype"), url("../fonts/Atkinson/Atkinson-Hyperlegible-Italic-102.svg#Atkinson-Italic") format("svg");
}
/* palette generators: 
  https://mycolor.space/?hex=%233A6292&sub=1 
  http://paletton.com/
*/
/* ===========================
  Screen Sizes

  screens: {
    sm: '480px',
    md: '768px',
    lg: '976px',
    xl: '1440px',
  },
=========================== */
/* ===========================
  Font Sizes

  Fluid Typography Scale

  https://www.fluid-type-scale.com/calculate?minFontSize=16&minWidth=320&minRatio=1.25&maxFontSize=16&maxWidth=1280&maxRatio=1.333&steps=xs%2Csm%2Cbase%2Cmd%2Clg%2Cxl%2Cxxl%2Cxxxl&baseStep=base&prefix=font-size&decimals=2&useRems=on&previewFont=Inter

--font-size-xs: clamp(0.64rem, -0.13vw + 0.67rem, 0.56rem);
--font-size-sm: clamp(0.8rem, -0.08vw + 0.82rem, 0.75rem);
--font-size-base: clamp(1rem, 0vw + 1rem, 1rem);
--font-size-md: clamp(1.25rem, 0.14vw + 1.22rem, 1.33rem);
--font-size-lg: clamp(1.56rem, 0.36vw + 1.49rem, 1.78rem);
--font-size-xl: clamp(1.95rem, 0.69vw + 1.81rem, 2.37rem);
--font-size-xxl: clamp(2.44rem, 1.19vw + 2.2rem, 3.16rem);
--font-size-xxxl: clamp(3.05rem, 1.93vw + 2.67rem, 4.21rem);

=========================== */
/* 
    Center vertically

    Pass nothing, simply include.layout

    Usage:

    .box {
        @include center-vertically;
    }
*/
/* Border Effect */
.border-effect {
  padding: 1rem;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.content {
  background: rgb(0, 132, 186);
  background: linear-gradient(122deg, rgb(0, 132, 186) 0%, rgb(255, 255, 255) 100%);
}

.content {
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
}

.grid-columns {
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: 1em;
  background: #449933;
  height: 100vh;
}

.content {
  padding: 1em;
  margin: 1em;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* 
  Shadows

  Look at Josh Comeau shadowy things
  https://www.joshwcomeau.com/css/designing-shadows/
*/
/* 
    Fluid Type Scale

    Learn more about what's going on here:
    @link https://moderncss.dev/generating-font-size-css-rules-and-creating-a-fluid-type-scale/

    Select a ratio to preview
    Default is "perfectFourth"
*/
body {
  font-family: "Atkinson-Regular", sans-serif;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Atkinson-Bold", sans-serif;
}

h1,
.h1 {
  font-size: clamp(2.44rem, 1.19vw + 2.2rem, 3.16rem);
}

h2,
.h2 {
  font-size: clamp(1.95rem, 0.69vw + 1.81rem, 2.37rem);
}

h3,
.h3 {
  font-size: clamp(1.56rem, 0.36vw + 1.49rem, 1.78rem);
}

h4,
.h4 {
  font-size: clamp(1.25rem, 0.14vw + 1.22rem, 1.33rem);
}

h5,
.h5 {
  font-size: clamp(1rem, 0vw + 1rem, 1rem);
}

h6,
.h6 {
  font-size: clamp(0.8rem, -0.08vw + 0.82rem, 0.75rem);
}

/* 
  Layout Grid 

  https://learncssgrid.com/

*/
.grid-container {
  display: grid;
  margin: 1rem 0;
  grid-template-columns: 100%;
}
@media (min-width: 420px) {
  .grid-container {
    grid-template-columns: 1fr minmax(auto, 60%) 1fr;
  }
}

.grid1 {
  background: #449933;
}

.grid2 {
  background: #123933;
}

.grid3 {
  background: #991100;
}

.date {
  font-size: 1rem;
  font-style: italic;
}

/*# sourceMappingURL=style.css.map */
