/* ===========================
  Screen Sizes

  screens: {
    sm: '480px',
    md: '768px',
    lg: '976px',
    xl: '1440px',
  },
=========================== */

/* ===========================
  Font Sizes

  Fluid Typography Scale

  https://www.fluid-type-scale.com/calculate?minFontSize=16&minWidth=320&minRatio=1.25&maxFontSize=16&maxWidth=1280&maxRatio=1.333&steps=xs%2Csm%2Cbase%2Cmd%2Clg%2Cxl%2Cxxl%2Cxxxl&baseStep=base&prefix=font-size&decimals=2&useRems=on&previewFont=Inter

--font-size-xs: clamp(0.64rem, -0.13vw + 0.67rem, 0.56rem);
--font-size-sm: clamp(0.8rem, -0.08vw + 0.82rem, 0.75rem);
--font-size-base: clamp(1rem, 0vw + 1rem, 1rem);
--font-size-md: clamp(1.25rem, 0.14vw + 1.22rem, 1.33rem);
--font-size-lg: clamp(1.56rem, 0.36vw + 1.49rem, 1.78rem);
--font-size-xl: clamp(1.95rem, 0.69vw + 1.81rem, 2.37rem);
--font-size-xxl: clamp(2.44rem, 1.19vw + 2.2rem, 3.16rem);
--font-size-xxxl: clamp(3.05rem, 1.93vw + 2.67rem, 4.21rem);

=========================== */
$font-sizes: (
  font-size-xs: clamp(0.64rem, -0.13vw + 0.67rem, 0.56rem),
  font-size-sm: clamp(0.8rem, -0.08vw + 0.82rem, 0.75rem),
  font-size-base: clamp(1rem, 0vw + 1rem, 1rem),
  font-size-md: clamp(1.25rem, 0.14vw + 1.22rem, 1.33rem),
  font-size-lg: clamp(1.56rem, 0.36vw + 1.49rem, 1.78rem),
  font-size-xl: clamp(1.95rem, 0.69vw + 1.81rem, 2.37rem),
  font-size-xxl: clamp(2.44rem, 1.19vw + 2.2rem, 3.16rem),
  font-size-xxxl: clamp(3.05rem, 1.93vw + 2.67rem, 4.21rem),
);
