nav {
  align-self: flex-end;
}

.navigation-menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 0.5rem;
  background: hsl(191, 5%, 50%, 0.8);
}

.navigation-menu-item {
  padding: 1rem;

  a {
    color: hsl(35, 93%, 50%, 1);
  }

  &.--active {
    a {
      color: hsl(135, 93%, 50%, 1);
    }
  }
}
