@use "../config";

nav {
  align-self: flex-end;
}

.navigation-menu {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  list-style: none;
  padding: 0.5rem;
  background: config.$brand-contrast-4;

  .navigation-menu-item {
    padding: 1rem;
  }
}
