@mixin linx($link, $visit, $hover, $active, $focus) {
  color: $link;
  transition: all 0.3s ease;
  &:visited {
    color: $visit;
    font-weight: 700;
  }
  &:hover {
    color: $hover;
    font-weight: 700;
  }
  &:active {
    color: $active;
    font-weight: 700;
  }
  &:focus {
    color: $focus;
    font-weight: 700;
  }
}
